{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event list</h1>


        {% for event in events %}
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="{{ event.picture }}" class="class circle-responsive-img"/>
                        </div>
                        <div class="col s10">
              <span class="black-text">
                  {{ event.title }}<br />
                  {{ event.name }}<br />
                  {{ event.price }}<br />
                  <a href="{{ path('event_show', { 'id': event.id }) }}"><span class="glyphicon glyphicon-eye-open" alt="Afficher"></span></a> <a href="{{ path('event_edit', { 'id': event.id }) }}" class="glyphicon glyphicon-pencil" alt="Modifier"></a>
              </span>
                        </div>
                    </div>
                </div>
            </div>
                <a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a>

        {% endfor %}


    <a href="{{ path('event_new') }}" class="add"><span class="glyphicon glyphicon-plus-sign"></span>Ajoutez votre événement</a>


{% endblock %}


