{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event list</h1>

    <table>
        <thead>
            <tr class="titre">
                <th class="titre">Id</th>
                <th class="titre">Title</th>
                <th class="titre">Picture</th>
                <th class="titre">Price</th>
                <th class="titre">Name</th>
                <th class="titre">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.title }}</td>
                <td>{{ event.picture }}</td>
                <td>{{ event.price }}</td>
                <td>{{ event.name }}</td>
                <td> <a href="{{ path('event_show', { 'id': event.id }) }}">Afficher</a> <a href="{{ path('event_edit', { 'id': event.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <a href="{{ path('event_new') }}" class="add">Ajoutez votre événement</a>


{% endblock %}
