<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Big Fish{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}"/>

        <script
                href="https://code.jquery.com/jquery-2.0.2.js"
                integrity="sha256-0u0HIBCKddsNUySLqONjMmWAZMQYlxTRbA8RfvtCAW0="
                crossorigin="anonymous"></script>
        <script href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/hover.css') }}"/>
    </head>
    <body>
        <header><!-- Début menu -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand hvr-underline-from-left" href="index.php">Accueil</a>


                        <a class="navbar-brand hvr-underline-from-left" href="{{ path('homepage') }}">Home</a>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>{% block user %}{% endblock %}</li>
                            <li><a class="hvr-underline-from-left" href="#">Relationship</a></li>
                            <li><a class="hvr-underline-from-left" href="{{ path('fav') }}">My fav</a></li>
                            <li><a class="hvr-underline-from-left" href="#">My profile</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- Fin menu -->
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script href="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </body>
</html>
