{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for event in events %}
                {% if event.heart == true %}
                <div style="margin-top: 5px;" class="col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-10 col-xs-12 div_boucle">
                    <td>Name of event :{{ event.title }}</td><br />
                    <td>{{ event.picture }}</td><br />
                    <td>{% if event.price == 0 %}free{% else %}{{ event.price }} €{% endif %}</td><br />
                    <td>{{ event.name }}</td><br />
                    <a class="#" id="#" href="{{ path('love_event', { 'id': event.id }) }}">
                        <i class="glyphicon glyphicon-heart"></i><a href="{{ path('event_edit', { 'id': event.id }) }}">Unlike</a></a><br />
                </div>
                 {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}