{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for event in user.events %}
                <div style="margin-top: 5px;" class="col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-10 col-xs-12 div_boucle">
                    <td>Name of event :{{ event.title }}</td><br />
                    <td><img src="{{ asset ('uploads/img/') }}{{ event.picture }}" </td>
                    <td>{% if event.price == 0 %}free{% else %}{{ event.price }} €{% endif %}</td><br />
                    <td>{{ event.name }}</td><br />
                    <i class="glyphicon glyphicon-heart"></i>&nbsp;
                    <a href="{{ path('fav', { 'idEvent': event.id }) }}">Unlike</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}