{% extends 'base.html.twig' %}
{#{% block user %}{{ 'registration.confirmed'|trans({'%username%': user.username}) }}{% endblock %}#}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for event in events %}

            <div style="margin-top: 5px;" class="col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-10 col-xs-12 div_boucle">
                <td>Name of event :{{ event.title }}</td><br />
                <td><img src="{{ asset ('uploads/img/') }}{{ event.picture }}" </td>
                <td>{% if event.price == 0 %}free{% else %}{{ event.price }} €{% endif %}</td><br />
                <td>{{ event.name }}</td><br />

                {% if event in user.events %}
                    <i class="glyphicon glyphicon-heart"></i>&nbsp;
                    <a href="{{ path('homepage', { 'idEvent': event.id, love:0 }) }}">Unlike</a>
                 {% else %}
                     <i class="glyphicon glyphicon-heart-empty"></i>&nbsp;
                    <a href="{{ path('homepage', { 'idEvent': event.id, love:1 }) }}">like</a>
                {% endif %}
            </div>


            {% endfor %}
        </div>
    </div>
{% endblock %}